<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>축제 리스트</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/list.css">


<script src="/js/index.js"></script>


<script type="text/javascript">

function search() {
	  var searchText = document.getElementById("searchText").value;
		    location.href = "/festival/list?searchText=" + searchText;
}
/////////////// 번역 /////////////////////////////////////////////////////////////////////////

function translate(lang) {
	
	let main_title = [];
	$("[id='main_title']").each(function() {
		main_title.push($(this).attr("data-original"));
	});
	
	let itemcntnts = [];
	$("[id='itemcntnts']").each(function() {
		itemcntnts.push($(this).attr("data-original"));
	});
	

	// ajax 호출 등의 코드 추가
	$.ajax({
		url : "/translate/Lists",
		type : "post",
		data : {
			main_title : main_title,
			itemcntnts:itemcntnts,
			lang : lang,
		},
		success : function(joined) {
			//성공
			let index=0;

			
			var main_titleElements = $("h2#main_title");
			main_titleElements.each(function() {
				var main_titleElement = $(this);
				main_titleElement.text(joined[index].translation);
				main_titleElement.attr("data-translation",
				joined[index].translation);
				index++;
				});
			
			
			var itemcntntsElements = $("p#itemcntnts");
			itemcntntsElements.each(function() {
			    var itemcntntsElement = $(this);
			    itemcntntsElement.text(joined[index].translation);
			    itemcntntsElement.attr("data-translation", joined[index].translation);
			    index++;
			});

			
		},
		error : function(xhr, status, error) {
			console.error('AJAX error:', error);
		}
	});
}


$(document).ready(function() {
	const lang = window.localStorage.getItem("lang");
	  console.log(lang);
	  if(lang==="ja"){
	    translate('ja');
	  } else if(lang==="en"){
	    translate('en');
	  } else if(lang==="zh"){
	    translate('zh_CN');
	  }
});

</script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	
	<div id="card-container">

	<br>
	<br>
	<br>
		<div id="festival-search">
			<div class="search-window">
				<div class="search-wrap">
					<input id="searchText" list="searchOptions" type="search"
						name="searchText" placeholder="축제명을 입력해주세요.">
					 <datalist id="searchOptions">
						<option th:each="festival : ${searchFes}"><span
								th:text="${festival.main_title}" id="main_title"
								th:data-original="*{festival.main_title}"></span>
						</option>
					</datalist> 
					<button type="button" onclick="search()" class="btn search-btn">검색</button>
				</div>
			</div>
		</div>



		<div class="container">

			<div class="card" style="--clr: #009688;"
				th:each="festival :${findAllFestival}">
				<div class="imgBx">
					<!--이미지-->
					<img th:src="@{${festival.main_img_normal}}">
				</div>
				<div class="content">
					<h2 th:text="${festival.main_title}"
					th:data-original="${festival.main_title}"id="main_title"></h2>
					<p th:text="${#strings.abbreviate(festival.itemcntnts,50)}"
					th:data-original="${#strings.abbreviate(festival.itemcntnts,50)}"
					id="itemcntnts"></p>
					
					<div class="listItem">
					 <i class="far fa-heart testHeart"
						style="color: #da202c; font-size:20px" title="like"></i>  
						<span th:text=" ${festival.place_like}" style="font-size: 20px"></span>
						<i class="fas fa-eye" style="font-size:20px" title="hits"></i>
						<span th:text="${festival.hit}" style="font-size: 20px"></span>
						<!-- <a  th:utext="'조회수 : '+${tourist.hit}"></a> -->
					</div>
					<a th:href="@{/festival/FestivalInfo(festival_id=${festival.festival_id})}">상세 보기</a>
				</div>
			</div>
			

		</div>
		
					<div id="navigator" class="pageNumber">
				<th:block th:if="${navi.currentPage - navi.pagePerGroup > 0}">
					<a
						th:href="@{/festival/list(page=${navi.currentPage - navi.pagePerGroup}, searchText=${searchText})}"><<</a>&nbsp;&nbsp;
    				</th:block>
				<th:block th:if="${navi.currentPage - 1 > 0}">
					<a
						th:href="@{/festival/list(page=${navi.currentPage - 1}, searchText=${searchText})}"><</a>&nbsp;&nbsp;
    				</th:block>
				<th:block th:if="${navi.endPageGroup ne 0}">
					<th:block
						th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
						<a
							th:href="@{/festival/list(page=${counter}, searchText=${searchText})}"
							th:text="${counter}"></a>&nbsp;
      				</th:block>
				</th:block>
				<th:block th:if="${navi.currentPage < navi.totalPageCount}">
					<a
						th:href="@{/festival/list(page=${navi.currentPage + 1}, searchText=${searchText})}">></a>&nbsp;&nbsp;
    				</th:block>
				<th:block
					th:if="${navi.currentPage + navi.pagePerGroup < navi.totalPageCount}">
					<a
						th:href="@{/festival/list(page=${navi.currentPage + navi.pagePerGroup}, searchText=${searchText})}">>></a>
				</th:block>
			</div>
	</div>

</body>
</html>