<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/reviewList.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
	function search() {
		let searchText = document.getElementById("searchText").value;
		location.href = "/review/list?searchText=" + searchText;
	}
</script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="header-container">
		<div class="review">


			<section class="notice">
				<div class="page-title">
					<h2>Review List</h2>
				</div>

				<div class="review-container">
					<!-- board seach area -->
					<div id="review-search">
						<div class="search-window">
							<form action="">
								<div class="search-wrap">
									<input id="search" type="search" name=""
										placeholder="검색어를 입력해주세요.">
									<button type="submit" class="btn search-btn">검색</button>
								</div>
							</form>
						</div>
					</div>

					<!-- board list area -->

					<table class="review-table">
						<thead>
							<tr class="mainTitle">
								<th scope="col" class="th-num">No</th>
								<th scope="col" class="th-place">Place</th>
								<th scope="col" class="th-title">Title</th>
								<th scope="col" class="th-date">Date</th>
								<th scope="col" class="th-hit">HIT</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="review, reviewsStat: ${reviews}">
								<td class="color" th:text="${reviewsStat.count}"></td>
								<td class="color"></td>
								<th><a th:text="${review.title}"
									th:href="@{/review/read(review_id=${review.review_id})}"></a></th>
								<td th:text="${#temporals.format(review.created_time, 'yyyy-MM-dd')}"></td>
								<td th:text="${review.hit}"></td>
							</tr>
						</tbody>
					</table>


					<div class="center">
						<input class="input-btn" type="button"
							onclick="location.href='/review/list'" value="목록으로"> 
						<input class="input-btn" type="button"
							onclick="location.href='/review/write'" value="글쓰기">
					</div>
				</div>
			</section>

		</div>

		<p>
		<div id="navigator" class="center">
			<!-- 이전 그룹이 없을 경우 보여주지 않음 -->
			<th:block th:if="${navi.currentPage - navi.pagePerGroup > 0}">
				<a
					th:href="@{/board/list(page=${navi.currentPage - navi.pagePerGroup}, searchText=${searchText})}"><<</a>&nbsp;&nbsp;
    </th:block>
			<!-- 이전 페이지가 없을 경우 보여주지 않음 -->
			<th:block th:if="${navi.currentPage - 1 > 0}">
				<a
					th:href="@{/board/list(page=${navi.currentPage - 1}, searchText=${searchText})}"><</a>&nbsp;&nbsp;
    </th:block>

			<th:block th:if="${navi.endPageGroup ne 0}">
				<th:block
					th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
					<a
						th:href="@{/board/list(page=${counter}, searchText=${searchText})}"
						th:text="${counter}"></a>&nbsp;
      </th:block>
			</th:block>

			<!-- 다음 페이지가 없을 경우 보여주지 않음 -->
			<th:block th:if="${navi.currentPage < navi.totalPageCount}">
				<a
					th:href="@{/board/list(page=${navi.currentPage + 1}, searchText=${searchText})}">></a>&nbsp;&nbsp;
    </th:block>
			<!-- 다음 그룹이 없을 경우 보여주지 않음 -->
			<th:block
				th:if="${navi.currentPage + navi.pagePerGroup < navi.totalPageCount}">
				<a
					th:href="@{/board/list(page=${navi.currentPage + navi.pagePerGroup}, searchText=${searchText})}">>></a>
			</th:block>
		</div>
		<p>
	</div>

</body>
</html>