<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시글 읽기</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/reviewRead.css">
<script src="/js/index.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>


<script src="/js/index.js"></script>

<script th:inline="javascript">



  let createTime = [[${review.created_time}]];
  function timeForToday() {
      const displayCreatedAt = (createdAt) => {
        let startTime = new Date(createdAt);
        let nowTime = Date.now();
        let timeDiff = nowTime - startTime;
        let result = "";

        if (timeDiff < 60000) {
          result = "방금 전";
        } else if (timeDiff < 3600000) {
          result = `${Math.floor(timeDiff / 60000)}분 전`;
        } else if (timeDiff < 86400000) {
          result = `${Math.floor(timeDiff / 3600000)}시간 전`;
        } else {
          result = startTime.toLocaleDateString();
        }

        return `<span>${result}</span>`;
      };

      // 특정 날짜 값 (createdAt)을 전달하여 결과 얻기
      let result = displayCreatedAt(createTime);
	  //console.log(result);
      return result;
    }
  
  
    lightbox.option({
  	  resizeDuration: 200,
  	  wrapAround: true,
  	  disableScrolling: false,
  	  fitImagesInViewport: false,
  	  maxWidth:700,
  	  maxHeight:700,
  	   	 
  	})
    
      function writeReply() {
        let review_id = [[${review.review_id}]];
        let content = $("#reply").val();
        // 리플 내용이 없으면 등록하지 않는다.
        if (content === "") {
          alert("리플 내용을 입력하세요");
          $("#reply").focus();
          return;
        }
        $.ajax({
          url: "/reply/" + review_id,
          type: "post",
          data: {
            "content": content
          },
          success: function (data, success, xhr) {
            console.log(data);
            getReplies();
          },	
          error: function (xhr, status, error) {
            console.log(status);
          }
        });
      }

      function getReplies() {
        let review_id = [[${review.review_id}]];
        $.ajax({
          url: "/reply/" + review_id,
          success: function (data, success, xhr) {
            console.log(data);
            showReplies(data);
          },
          error: function (xhr, status, error) {
            console.log(status);
          }
        });
      }

      function showReplies(data) {
        $("#replies").html("");
        let str = "";
        str += "<table class='reply-table'>";
        str += "  <tr>";
        str += "      <th>No.</th>";
        str += "      <th>작성자.</th>";
        str += "      <th>내용.</th>";
        str += "      <th>작성일</th>";
        str += "  </tr>";
        if (data.length > 0) {
          $(data).each(function(idx, obj) {
            let created_time = new Date(obj.created_time);
            let time = created_time.getFullYear() + "."
                    + (created_time.getMonth() + 1) + "."
                    + created_time.getDate() + ". "
                    + created_time.getHours() + ":"
                    + created_time.getMinutes();
	
            str += "<tr>";
            str += "  <td>" + (idx + 1) + "</td>";
            str += "  <td>" + obj.member_id + "</td>";
            if (obj.writer == true) {
              str += "  <td><input class='reply-input-btn' type='text' data-original='" + obj.content + "' id='reply_" + obj.reply_id + "' value='" + obj.content + "'>";
              //str += "<button type='button' class='reply-btn'  >작성</button>";
              str += " <button type='button' class='reply-btn'  onclick=updateReply(" + obj.reply_id + ")>수정</button>";
              str += "<button type='button' class='reply-btn'  onclick=removeReply(" + obj.reply_id + ")>삭제</button>";
               //str += "<button class='review-button' type='button' value='수정' onclick='updateReply(" + obj.reply_id + ")'>";
              //str += "<button class='review-button' type='button' value='삭제' onclick='removeReply(" + obj.reply_id + ")'>";
            } else {
              str += "  <td>" + obj.content;
            }
            str += "  </td>";
            str += "  <td>" + time + "</td>";
            str += "</tr>";
          });
        } else {
          str += "<tr>"
          str += "<td colspan='4'>등록된 리플이 없습니다.</td>"
          str += "<tr>"
        }
        str += "</table>";
        $("#replies").append(str);
      }

      function updateReply(reply_id) {
        let check = confirm("리플을 수정 하시겠습니까?");
        if (check) {
          let review_id = [[${review.review_id}]];
          let content = $("#reply_" + reply_id).val();
          $.ajax({
            url: "/reply/" + review_id + "/" + reply_id,
            type: "put",
            data: {
              "content": content
            },
            success: function (data) {
              console.log(data);
              getReplies();
            },
            error: function (xhr, status, error) {
              console.log(status);
            }
          });
        }
      }

      function removeReply(reply_id) {
        let check = confirm("리플을 삭제 하시겠습니까?");
        if (check) {
          let review_id = [[${review.review_id}]];
          $.ajax({
            url: "/reply/" + review_id + "/" + reply_id,
            type: "delete",
            success: function (data) {
              getReplies();
            },
            error: function (xhr, status, error) {
              console.log(status);
            }
          });
        }
      }

      $(function () {
        // 페이지가 로딩되면 getReplies() 함수를 자동으로 호출한다.
        getReplies();
        // 리플을 작성하고 엔터키를 입력하면 리플을 등록한다.
        $("#reply").keydown(function(event){
          if (event.originalEvent.code === "Enter") {
            writeReply();
          }
        });
      });
      
      //좋아요 버튼

     // $(document).ready(function () {
     //     $(".content").click(function () {
     //         $(".content").toggleClass("heart-active")
     //         $(".like").toggleClass("heart-active")
     //         $(".heart").toggleClass("heart-active")
     //         $(".numb").toggleClass("heart-active")
     //     });
     // });

      function like(review_id) {
    		console.log(review_id);
    		
    	 	$.ajax({
    	 	url: "like",
    	 	type: "POST",
    		data: { review_id: review_id },
    	 	success: function (result) {
    	 		        if (result.liked===true) {
    	 		          alert("좋아요가 추가되었습니다.");
    		 		         $(".like_img").attr({
    		 		            'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
    		 		            alt: '좋아요삭제'
    		 		          });	
    	 		        } else {	
    	 		          alert("좋아요가 삭제되었습니다.");
    	 		         		$(".like_img").attr({
    		 		            'src': '/image/heart-regular.svg',
    		 		            alt: '좋아요삭제'
    		 		          });	
    	 		        }
    	 		    },
    	 		error: function (xhr, status, error) {
    	 		console.error(error);
    	 	}		
    	 });
    	}  
    //좋아요 버튼
      $(function like() {
        var $likeBtn = $('.icon.heart');

        $likeBtn.click(function () {
          $likeBtn.toggleClass('active');
  				//active가 잇으면
          if ($likeBtn.hasClass('active')) {
           		 $(this).find('img').attr({
              'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
              alt: '좋아요하기 완료'
            });


          } 
          //active가 없는경우
          else {
            $(this).find('i').removeClass('fas').addClass('far')
            $(this).find('img').attr({
              'src': '/image/heart-regular.svg',
              alt: "좋아요하기"
            })
          }
        })
      });
    
    
    /////////////////////////////////////번역////////////////////////
    
	function translate(lang) {
		//리류장소들 한꺼번에
		let reply = [];
		$("[class='reply-input-btn']").each(function() {
			reply.push($(this).attr("data-original"));
		});
		

		// ajax 호출 등의 코드 추가
		$.ajax({
			url : "/translate/replyList",
			type : "post",
			data : {
				reply : reply,
				lang : lang,
			},
			success : function(joined) {

				index=0;
				console.log(joined);
				
				var replyElements = $(".reply-input-btn");
				replyElements.each(function() {
				  var replyElement = $(this);
				  replyElement.val(joined[index].translation);
				  replyElement.attr("data-translation", joined[index].translation);
				  index++;
				});

				
				
			},
			error : function(xhr, status, error) {
				console.error('AJAX error:', error);
			}
		});
	}
	$(document).ready(function() {
		$("#translate-en").click(function() {
			translate('en');
		});
		$("#translate-ja").click(function() {
			translate('ja');
		});
		$("#translatezh-CN").click(function() {
			translate('zh-CN');
		});
	});
	
	
	
    
    </script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="read-container">

	<button id="translate-en">영어 번역하기</button>
	<button id="translate-ja">일본어 번역하기</button>
	<button id="translatezh-CN">중국어 번역하기</button>


		<div th:object="${review}" class="read-form">
			<span style="font-size: 20px;"><</span><span
				th:text="*{review_place}" class="review_place"></span><span
				style="font-size: 20px;">></span>
			<h1 th:text="*{title}"></h1>

			<div class="form-nav">
				<!--아이디 -->
				<div>
					<span th:text="*{member_id}"
						style="font-size: 20px; font-weight: bold;"></span>
					<!--아이디 바로 옆 날짜  -->
					<span id="mySpan"></span>
					<script>
      // 결과를 span에 표시하는 함수 실행
      document.getElementById("mySpan").innerHTML = timeForToday();
    </script>
				</div>
				<div id="heart-container">
					<div class="heartWish">
						<div class="left_area">
							<a th:unless="${#lists.contains(findReviewLikes, member_id)}"
								href="javascript:;" class="icon heart"
								th:onclick="|like(${review.review_id})|"> <img
								class="like_img" src="/image/heart-regular.svg" alt="하트">
							</a>
							<!-- 좋아요를 햇으면 -->
							<a th:if="${#lists.contains(findReviewLikes, member_id)}"
								href="javascript:;" class="icon heart"
								th:onclick="|like(${review.review_id})|"> <img
								class="like_img"
								src="https://cdn-icons-png.flaticon.com/512/803/803087.png"
								alt="하트">
						</div>
					</div>
				</div>

			</div>

			<hr style="margin: 10px 0;" />

			<div th:utext="*{contents}" class="form-contents"></div>

		</div>

		<div style="margin-top: 20px;">
			<!-- <input type="button" onclick="location.href='/review/list'"
					value="목록으로"> -->
			<th:block
				th:if="${session.loginMember.member_id == review.member_id}">
				<input type="button"
					th:onclick="|location.href='/review/update?review_id=${review.review_id}'|"
					value="수정하기">
				<input type="button"
					th:onclick="|location.href='/review/delete?review_id=${review.review_id}'|"
					value="삭제하기">
			</th:block>
		</div>

		<div class="reply-container">
			<div id="replies" class="reply-div"></div>

			<input class="reply-input" id="reply" name="reply" type="text"
				placeholder=" 댓글을 작성해주세요." value="">
			<button type="button" class="reply-btn" onclick="writeReply()">작성</button>
		</div>


		

	</div>
	


</body>
</html>