<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/writeForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script th:inline="javascript">
    
    function previewImage(event) {
    	  var input = event.target;
    	  var reader = new FileReader();
    	  reader.onload = function(){
    	    var img = document.createElement("img");
    	    img.onload = function() {
    	      var container = document.getElementById("image-preview-container");
    	      var containerWidth = container.clientWidth;
    	      var containerHeight = container.clientHeight;
    	      var imageWidth = img.width;
    	      var imageHeight = img.height;

    	      if (imageWidth > containerWidth) {
    	        imageHeight *= containerWidth / imageWidth;
    	        imageWidth = containerWidth;
    	      }

    	      if (imageHeight > containerHeight) {
    	        imageWidth *= containerHeight / imageHeight;
    	        imageHeight = containerHeight;
    	      }

    	      container.innerHTML = '';
    	      container.appendChild(img);
    	      img.style.width = imageWidth + 'px';
    	      img.style.height = imageHeight + 'px';
    	    };
    	    img.src = reader.result;
    	  };
    	  reader.readAsDataURL(input.files[0]);
    	}
    	</script>

<style>
#image-preview-container {

  border: none; /* 테두리 제거 */

  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
</style>
    
    
</head>
<body>
<div th:replace ="fragments/header :: header"></div>
<div class="header-container">

<div class="write">
  <form action="write" method="post" enctype="multipart/form-data" th:object="${writeForm}">
   
  
       
                
                <table class = "write-table">
                <h3 class="center">Write Review</h3>
                
                       
                       <th>리뷰 장소</th>
      <td>
           <input type="text" list="searchOptions" th:field="*{review_place}"/>
           <datalist id="searchOptions">
             <option th:each="main_title : ${findAllName}" >
               <span th:text="${main_title}"></span>
             </option>
           </datalist>
            <div class="error" th:if="${#fields.hasErrors('review_place')}" th:errors="*{review_place}"></div>
             <div class="error" th:if="${placeError != null}" th:text="${placeError}"></div>
             
      </td>
      <tr>
                       
                        <tr>
                        <th>제목</th>
                        <td>
                       	 	<input type="text" th:field="*{title}">
                        	<div class="error" th:errors="*{title}"></div>
                        </td>
                        </tr>
                        
                        <tr>
                        <th>내용</th>
                        <td>
          					<textarea rows="15" cols="85" th:field="*{contents}"></textarea>
          					<div class="error" th:errors="*{contents}"></div>
        </td>
                        </tr>
 
                        <tr>
                        <th class="file">첨부파일</th>
                        <td>
                        	<input id="file1" type="file" name="file" accept="image/*" onchange="previewImage(event)">
 							<div id="image-preview-container"></div>
 						</td>
                        </tr>
                        </table>
 
                       <div class="center">
                         <input class="write-btn" type="button" onclick="location.href='/review/list'" value="목록으로">
     					 <input class="write-btn" type="submit" value="등록하기">
     					 <input class="write-btn" type="reset" value="취소">
                    </div>
           

 
  </form>
  </div>
</div>
</body>
</html>