<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/list.css">
<link rel="stylesheet" href="/css/reviewList.css">

<script src="/js/index.js"></script>
<script th:inline="javascript">


function search() {
	  var searchText = document.getElementById("searchText").value;
		    location.href = "/tourist/list?searchText=" + searchText;
}
/////////////// 번역 /////////////////////////////////////////////////////////////////////////

function translate(lang) {
	
	let main_title = [];
	$("[id='main_title']").each(function() {
		main_title.push($(this).attr("data-original"));
	});
	
	let itemcntnts = [];
	$("[id='itemcntnts']").each(function() {
		itemcntnts.push($(this).attr("data-original"));
	});
	
	let searchName = [];
	$("[id='searchName']").each(function() {
		searchName.push($(this).attr("data-original"));
	});

	// ajax 호출 등의 코드 추가
	$.ajax({
		url : "/translate/Lists",
		type : "post",
		data : {
			main_title : main_title,
			itemcntnts:itemcntnts,
			searchName:searchName,
			lang : lang,
		},
		success : function(joined) {

			let index=0;
			map = new Map();

			var searchNameElements = $("span#searchName");
			searchNameElements.each(function() {
				var searchNameElement = $(this);
				searchNameElement.text(joined[index].translation);
				searchNameElement.attr("data-translation",joined[index].translation);
				map.set(joined[index].translation, searchName[index]);
				index++;
				});

			var main_titleElements = $("h2#main_title");
			main_titleElements.each(function() {
				var main_titleElement = $(this);
				main_titleElement.text(joined[index].translation);
				main_titleElement.attr("data-translation",joined[index].translation);
				index++;
				});
			
			
			var itemcntntsElements = $("p#itemcntnts");
			itemcntntsElements.each(function() {
			    var itemcntntsElement = $(this);
			    itemcntntsElement.text(joined[index].translation);
			    itemcntntsElement.attr("data-translation", joined[index].translation);
			    index++;
			});

			
		},
		error : function(xhr, status, error) {
			console.error('AJAX error:', error);
		}
	});
}


$(document).ready(function() {
	const lang = window.localStorage.getItem("lang");
	  console.log(lang);
	  if(lang==="ja"){
	    translate('ja');
	  } else if(lang==="en"){
	    translate('en');
	  } else if(lang==="zh"){
	    translate('zh_CN');
	  }
});


//////////검색 기능 /////////////////////////////////////////////////////////////////////
var map; 

function search() {
	var searchText = document.getElementById("searchText").value;
	
	//한국어로 검색하면, 번역을 거친 map배열이 없으므로 이렇게 실행!
	if (!map || map.size === 0) {
		    location.href = "/tourist/list?searchText=" + searchText;
		    return;
		  }
	// map에서 일치하는 값(value) 찾기
	var matchedValues = [];
	map.forEach(function(value, key) {
	 if (key.includes(searchText)) {
	     matchedValues.push(value);
	 }
	});
	//검색한 외국어랑 일치하는 map값이 없엇을 경우! 리뷰가 없다는 페이지로 ㄱㄱ
	if (!matchedValues || matchedValues.length === 0) {
		  location.href = "/tourist/list?searchText=" + searchText;
		  return;
		}
	
	//검색한 값을 가진 key값을 먼저 검색한 후에, 그 key값들의 value값들의 공통 글자를 찾아서 반환
	var commonCharacters = matchedValues.reduce(function(a, b) {
		  var result = "";
		  for (var i = 0; i < a.length; i++) {
		    if (b.includes(a.charAt(i))) {
		      result += a.charAt(i);
		    }
		  }
		  return result;
		});
	
	//value값들의 공통 글자
		console.log("Common characters:", commonCharacters);
	
	if (commonCharacters) {
	 // 일치하는 값이 있을 경우의 처리
	 console.log("매칭된 값:", commonCharacters);
	 location.href="/tourist/list?searchText=" + commonCharacters;
	} 
}

</script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="card-container">
	
	
		<br>
	<br>
	<br>
		<div id="review-search">
			<div class="search-window">
				<div class="search-wrap">
					<input id="searchText" list="searchOptions" type="search"
						name="searchText" placeholder="명소명을 입력해주세요.">
					 <datalist id="searchOptions">
						<option th:each="tourist : ${searchTour}"><span
								th:text="${tourist.main_title}" id="searchName"
								th:data-original="*{tourist.main_title}"></span>
						</option>
					</datalist> 
					<button type="button" onclick="search()" class="btn search-btn">검색</button>
				</div>
			</div>
		</div>
	
	
		<div class="container">
			<div class="card" style="--clr: #009688;"
				th:each="tourist :${tourist}">
				<div class="imgBx">
					<!--이미지-->
					<img th:src="@{${tourist.main_img_normal}}">
				</div>
				<div class="content">
					<h2 th:text="${tourist.main_title}"
					th:data-original="${tourist.main_title}"id="main_title"></h2>
					<p th:text="${#strings.abbreviate(tourist.itemcntnts,50)}"
					th:data-original="${#strings.abbreviate(tourist.itemcntnts,50)}"
					id="itemcntnts" ></p>
					
					
					<div class="listItem">
					 <i class="far fa-heart testHeart"
						style="color: #da202c; font-size:20px" title="like"></i>  
						<span th:text=" ${tourist.place_like}" style="font-size: 20px"></span>
						<i class="fas fa-eye" style="font-size:20px" title="hits"></i>
						<span th:text="${tourist.hit}" style="font-size: 20px"></span>
						<!-- <a  th:utext="'조회수 : '+${tourist.hit}"></a> -->
					</div>
					<a th:href="@{/tourist/TouristInfo(tourist_Spot_id=${tourist.tourist_Spot_id})}">상세 보기</a>
				</div>
			</div>
			
		</div>
		
		<div id="navigator" class="pageNumber">
					<!-- 이전 그룹이 없을 경우 보여주지 않음 -->
					<th:block th:if="${navi.currentPage - navi.pagePerGroup > 0}">
					<a th:href="@{/tourist/list(page=${navi.currentPage - navi.pagePerGroup}, searchText=${searchText})}"><<</a>&nbsp;&nbsp;
    				</th:block>
					<!-- 이전 페이지가 없을 경우 보여주지 않음 -->
					<th:block th:if="${navi.currentPage - 1 > 0}">
					<a th:href="@{/tourist/list(page=${navi.currentPage - 1}, searchText=${searchText})}"><</a>&nbsp;&nbsp;
    				</th:block>
					<th:block th:if="${navi.endPageGroup ne 0}">
					<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
					<a th:href="@{/tourist/list(page=${counter}, searchText=${searchText})}" th:text="${counter}"></a>&nbsp;
      				</th:block>
					</th:block>
					<!-- 다음 페이지가 없을 경우 보여주지 않음 -->
					<th:block th:if="${navi.currentPage < navi.totalPageCount}">
						<a th:href="@{/tourist/list(page=${navi.currentPage + 1}, searchText=${searchText})}">></a>&nbsp;&nbsp;
    				</th:block>
					<!-- 다음 그룹이 없을 경우 보여주지 않음 -->
    				<th:block th:if="${navi.currentPage + navi.pagePerGroup < navi.totalPageCount}">
    				<a th:href="@{/tourist/list(page=${navi.currentPage + navi.pagePerGroup}, searchText=${searchText})}">>></a>
    				</th:block>
				</div>
	</div>

</body>
</html>