<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frombusan.repository.TouristMapper">

	<select id="findTouristSpot" resultType="tourist">
		select * from tourist_Spot where tourist_Spot_id=#{tourist_Spot_id}
	</select>

	<select id="findAllTourist" resultMap="touristResultMap">
		select itemcntnts,tourist_spot_id,place_like,main_img_normal,main_title, hit
		from tourist_spot
       	<if test="_parameter != null">
            where main_title like '%' || #{searchText} || '%'
        </if>
		 order by hit desc
	</select>
    <resultMap type="tourist" id="touristResultMap">
		<id property="id" column="id" />
		<result property="hit" column="hit" />
	</resultMap>

	<select id="findAllTouristForMain" resultMap="touristForMain">
		select tourist_spot_id,place_like,main_img_normal,main_title from
		tourist_spot order by place_like desc
	</select>
    <resultMap type="tourist" id="touristForMain">
		<id property="id" column="id" />
		<result property="hit" column="hit" />
	</resultMap>

	<select id="getTotal" resultType="int">
		select count(*) from tourist_Spot
		<if test="_parameter != null">
            where main_title like '%' || #{searchText} || '%'
        </if>
	</select>

	<select id="checkMemberLikeStatus" resultType="boolean">
		SELECT CASE
		WHEN EXISTS (
		SELECT 1 FROM tourist_spot_likes
		WHERE tourist_Spot_id = #{tourist_Spot_id}
		AND member_id = #{member_id}
		)
		THEN TRUE
		ELSE FALSE
		END AS isFavorite
	</select>

	<select id="checkMemberWishListStatus" resultType="boolean">
		SELECT CASE
		WHEN EXISTS (
		SELECT 1 FROM wish_list
		WHERE tourist_Spot_id = #{tourist_Spot_id}
		AND member_id = #{member_id}
		)
		THEN TRUE
		ELSE FALSE
		END AS isWishList
	</select>

	<!-- /////////////////좋아요 기능//////////////////////////////////////////////////////////////// -->
	<update id="updateTourist">
		update tourist_Spot
		<set>
			<if test="place_like != null">place_like = #{place_like},</if>
		</set>
		where tourist_Spot_id = #{tourist_Spot_id}
	</update>

	<insert id="saveLikes">
		insert into tourist_spot_likes (
		member_id,
		tourist_Spot_id
		) values (
		#{member_id},
		#{tourist_Spot_id}
		)
	</insert>

	<select id="findTouristSpotLike" >
		SELECT like_id,member_id,tourist_spot_id
		FROM tourist_spot_likes
		WHERE tourist_spot_id = #{tourist_spot_id}
		AND member_id = #{member_id}
	</select>

	<delete id="deleteLike">
		delete from tourist_spot_likes where like_id = #{like_id}
	</delete>

	<!-- /////////////////찜 기능//////////////////////////////////////////////////////////////// -->
	<insert id="saveMyList">
		insert into wish_list (
		member_id,
		tourist_Spot_id
		) values (
		#{member_id},
		#{tourist_Spot_id}
		)
	</insert>

	<delete id="deleteMyList">
		delete from wish_list where wishboard_id = #{wishboard_id}
	</delete>

	<!-- /////////////////찜 목록//////////////////////////////////////////////////////////////// -->
	<select id="findMyListByMemberId" resultType="map">
		select tourist_Spot_id from wish_list where member_id=#{member_id}
	</select>
	
	 <update id="addHit">
		update tourist_Spot
		<set>
			<if test="hit != null"> hit = #{hit}</if>
		</set>
		where tourist_Spot_id = #{tourist_Spot_id}
	</update>

</mapper>