<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
   <link rel="stylesheet" href="/css/findPassForm.css" />
    <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script th:inline="javascript">
    //국제화
    $(document).ready(function() {
          $('input[type="button"]').each(function() {
            $(this).val($(this).attr('value'));
          });
        });
     </script>

 
<script th:inline="javascript">
    
/* 아이디 모달 없이 alert로 찾기, 5초뒤 화면 종료

 <style>
	.popup-content {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
 </style>
 
 <script th:inline="javascript">

    function findId() {
        let name = $("#name").val();
        let phone_number = $("#phone_number").val();

      // 리플 내용이 없으면 등록하지 않는다.
      if (name === "") {
        alert("이름을 입력하세요");
        return;
      }
      if (phone_number === "") {
        alert("전화번호를 입력하세요");
        return;
      }
      $.ajax({
        url: "/member/" ,
        type: "post",
        success: function (data, success, xhr) {
          const data1 = data.filter((item)=>{
            	 return item.NAME==name && item.PHONE_NUMBER ==phone_number ;
            	 })
            	if(data1.length !== 0){
                    alert("아이디는 " + data1[0].MEMBER_ID + "입니다.");
                    
                    let timeLeft = 5; // 5초 카운트다운

                    const countDownEl = document.getElementById("countdown"); // 카운트다운을 표시할 엘리먼트
                    
                    const timer = setInterval(() => {
                    	  if (timeLeft <= 0) {
                    	    clearInterval(timer);
                    	    window.close();
                    	  } else {
                    	    countDownEl.innerHTML = `팝업 창이 ${timeLeft}초 후에 자동으로 닫힙니다.`;
                    	    timeLeft--;
                    	  }
                    	}, 1000);  // setInterval() 함수에서 매 초마다 실행되는 함수의 끝 부분에서, 1초마다 반복 실행될 수 있도록 매개변수로 전달되는 시간(밀리초)
                    	
                    	setTimeout(() => {
                            clearInterval(timer);
                            window.close();
                        }, 5000); // 5초 후에 창 닫기
              	 }else{alert("일치하는 아이디가 없습니다")};
	               },
          
        error: function (xhr, status, error) {
          console.log(status);
        }
      });
    }
 */
 function changePassword() {
 	
     let password = $("#password").val();
     let password2 = $("#password2").val();
	let member_id = [[${member.member_id}]];
	let oldPassword =[[${member.password}]];
	
   if (password === "") {
     alert("비밀번호를 입력하세요");
     return;
   }
   if (password2 === "") {
     alert("비밀번호를 재입력하세요");
     return;
   }
   if (password !== password2) {
     alert("비밀번호를 동일하게 입력하세요");
     return;
   }
   if (password.length < 4 || password.length > 20) {
		alert("비밀번호는 5 ~ 10자리 사이여야 합니다.");
		password.focus();
		return ;
	}
   if (password=== oldPassword) {
		alert("예전 비밀번호로 고칠 수 없습니다.");
		password.focus();
		return ;
	}
   $.ajax({
     url: "/member/changePassword",
     type: "post",
     data: {
         member_id: member_id,
         password:password
     },
     success: function (data, success, xhr) {
     	    // 비밀번호를 모달 창에 표시
     	    document.getElementById("password").innerHTML = password;

     	    // 모달 열기
     	    const modal = document.querySelector(".modal");
     	    modal.style.display = "block";

     	    // 카운트다운 시작
     	    let timeLeft = 3; // 3초 카운트다운
     	    const countDownEl = document.getElementById("countdown"); // 카운트다운을 표시할 엘리먼트
     	    countDownEl.innerHTML = `창이 ${timeLeft}초 후에 자동으로 닫힙니다.`;

     	    const timer = setInterval(() => {
     	      if (timeLeft <= 0) {
     	        clearInterval(timer);
     	        modal.style.display = "none"; // 모달 닫기
     	       window.location.href = '/member/login';
     	      } else {
     	        countDownEl.innerHTML = `창이 ${timeLeft}초 후에 자동으로 닫힙니다.`;
     	        timeLeft--;
     	      }
     	    }, 1000);

     	}
     ,error: function (xhr, status, error) {
    	alert("비밀번호 업데이트에 실패하였습니다.");
       console.log(status);
     }
   });
 }
    </script>
    
    
</head>
<body>
  <div class="popup-content">
  	<div id="findPass-container">
        <img class="img" src="/image/bugi.png" alt="bugi">
		<form  th:object="${member}" >
            <h1>[[#{alert.changpas}]]</h1>
            

            <div class="login-input">
                <input type="text" id="password" th:field="*{password}" th:attr="placeholder=#{${'alert.plsPas'}}">
                <input type="text" id="password2" th:attr="placeholder=#{${'alert.plsPas2'}}">
            </div>

            <div class="login-submit">
			<input class="btn-login" type="button" data-value="#{alert.Password}" th:value="#{alert.Password}" onclick="changePassword()" >
            </div>
            
            <div id="countdown"></div>
            
        </form>
    </div>
	</div>
    
     <div class="modal">
	    <div class="modal-content">
	      <h2>[[#{alert.SuccessPAS}]]</h2>
	    </div>
    </div>
</body>
</html>