<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>수정전비밀번호확인</title>
<link rel="stylesheet" href="/css/findPassForm.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script th:inline="javascript">
    //국제화
   $(document).ready(function() {
         $('input[type="button"]').each(function() {
           $(this).val($(this).attr('value'));
         });
       });
     </script>




<script th:inline="javascript">

 function checkPassword() {
 	
     let password = $("#password").val();
     let password1 =$("#password1").val();
     
  
   if (password === "") {
     alert("비밀번호를 입력하세요");
     return;
   }
   if (password1 === "") {
     alert("비밀번호 확인");
     return;
   }
   if (password !== password1) {
     alert("비밀번호를 동일하게 입력하세요");
     return;
   }
   
   $.ajax({
     url: "/member/" ,
     type: "post",
     
     
     success: function (data, success, xhr) {
    	 
     	  
     	  const data1 = data.filter((item)=>{
      	    return item.PASSWORD==password
     	  });
     	  
     	  if(data1.length !== 0){
			
     	    // 모달 열기
     	    const modal = document.querySelector(".modal");
     	    modal.style.display = "block";

     	    // 카운트다운 시작
     	    let timeLeft = 3; // 5초 카운트다운
     	    const countDownEl = document.getElementById("countdown"); // 카운트다운을 표시할 엘리먼트
     	    countDownEl.innerHTML = `창이 ${timeLeft}초 후에 자동으로 닫힙니다.`;

     	    const timer = setInterval(() => {
     	      if (timeLeft <= 0) {
     	        clearInterval(timer);
     	        modal.style.display = "none"; // 모달 닫기
     	      
     	      updateMember();
     	     
     	      } else {
     	        countDownEl.innerHTML = `창이 ${timeLeft}초 후에 자동으로 닫힙니다.`;
     	        timeLeft--;
     	      }
     	    }, 1000);

     	    // 모달 닫기 버튼 이벤트 핸들러 등록
			const modalClose = document.querySelector(".modal-close");
			if (modalClose) {
				  modalClose.addEventListener("click", function() {
				    clearInterval(timer); // 타이머 중지
				    modal.style.display = "none";
				  });
		  	}
     	  } else {
     	    alert("비밀번호가 일치하지 않습니다.");
     	  }
     	}
     ,error: function (xhr, status, error) {
       console.log(status);
     }
   });
 }
 
 function updateMember() {
	 	
	  
		//var mainTitle = encodeURIComponent('${festival.main_title}');
	    var url = '/member/updateMember';
	  	var options = 'width=700,height=500,left=' + (screen.width / 2 - 350) + ',top=' + (screen.height / 2 - 350);
	    window.open(url, 'Popup', options);

	}
 
    </script>


</head>
<body>
	<div class="popup-content">
		<div id="findPass-container">
			<img class="img" src="/image/bugi.png" alt="bugi">
			<form th:object="${findPasswordForm}">
				<h1>[[#{alert.Conpassword}]]</h1>


				<div class="login-input">
					<input type="password" id="password"
						th:field="${findPasswordForm.password}"
						th:attr="placeholder=#{${'alert.plsPas'}}"> 
						<input type="password" id="password1" th:field="${findPasswordForm.password}"
						th:attr="placeholder=#{${'alert.Conpassword1'}}">
				</div>


				<div class="login-submit" style="margin-top:30px;">
					<input class="btn-login" type="button"
						data-value="#{alert.confirm}" th:value="#{alert.confirm}"
						onclick="checkPassword()">
				</div>

				<div id="countdown"></div>

			</form>
		</div>
	</div>

	<div class="modal">
		<div class="modal-content">
			<h2>[[#{alert.Memberspage}]]</h2>
		</div>
	</div>
</body>
</html>