<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="/css/default.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/joinForm.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/index.js"></script>
<script>
      	let idck = 0;
       function isEmpty(obj,msg){
    	   if(obj.val().length==0){
    		   alert(msg);
    		   obj.focus();
    		   return true;
    	   }
    	   return false;
       }
    	 function formCheck() {
    		  //let form = $('#idForm');
    			let member_id = $("#member_id");
        	let password = $("#password");
					let passwordCheck=$("#passwordCheck");
					let name = $('#name'); 
					let birth = $("#birth");
					let now = new Date();
        	let phone_number = $("#phone_number");
        	let birthDate = new Date(birth.val());
        	
       		if(idck==0){
	            alert('아이디 중복체크를 해주세요');
	            return false;
	        }
       		
       		if(isEmpty(member_id,"[[#{alert.alertid}]]")) return;
       		if(isEmpty(password,"[[#{alert.alertPassword}]]")) return;
       		if(isEmpty(name,"[[#{alert.alertName}]]")) return;
       		//비밀번호 일치확인
       		if(password.val() != passwordCheck.val()){
					alert("[[#{alert.alertPassword2}]]");
					password.focus();
       		return;
       		}
       		if(isEmpty(birth,"[[#{alert.alertbirth}]]")) return;
       		//생년월일 체크
       		if (now < birthDate) {
        		alert("[[#{alert.alerttoday}]]");
        		birth.focus();
        		return;
        	}
       		
       		if(isEmpty(phone_number,"[[#{alert.alertPhone}]]")) return;
       		if(isEmpty(password,"[[#{alert.alertPassword}]]")) return;
       		if(isEmpty(password,"[[#{alert.alertPassword}]]")) return;
       		
       		//submit
       		return true;
        /* else if (member_id.val().length < 4 || member_id.val().length > 20) {
    			alert("[[#{alert.alertid}]]");
    			member_id.focus();
    			return false;
    		}else if (password.val().length < 4 || password.val().length > 20) {
    			alert("[[#{alert.alertPassword}]]");
    			password.focus();
    			return false;
    		}else if(password.val() != passwordCheck.val()){
				alert("[[#{alert.alertPassword2}]]");
				password.focus();
				return false;
						}else if (name.val() == "") {
        		alert("[[#{alert.alertName}]]");
        		name.focus();
        		return false;
        	}else if (birth.val() == "") {
        		alert("[[#{alert.alertbirth}]]");
        		birth.focus();
        		return false;
        	}else if (now < birthDate) {
        		alert("[[#{alert.alerttoday}]]");
        		birth.focus();
        		return false;
        	}else if (phone_number.val() == "") {
        		alert("[[#{alert.alertPhone}]]");
        		birth.focus();
        		return false;
        	}else if (!phone_number.val().includes('-')) { // '-'가 포함되어 있지 않은 경우
                alert("[[#{alert.alertincludes}]]");
                phone_number.focus();
                return false;
            }else if (phone_number.val().charAt(3) !== '-' || phone_number.val().charAt(8) !== '-') {
                alert("[[#{alert.alertcharAt}]]");
                phone_number.focus();
                return false;
            }else if (phone_number.length() !== 13) {
                alert("[[#{alert.alertlength}]]");
                phone_number.focus();
                return false;
            }else{
           		alert(name.val()+"님 회원가입이 완료되었습니다.감사합니다.");
            	event.preventDefault()	
            	return true;
            } */
            /* if(idCheckResult===false){
                alert("[[#{alert.alertidCheck}]]");
                return false;
            }	 */
    	}
    	
    	//아이디 체크여부 확인 (아이디 중복일 경우 = 0 , 중복이 아닐경우 = 1 )
    	 
    	 $(function() {
    	     //idck 버튼을 클릭했을 때 
    	     $("#idck").click(function() {
    	         
    	         //userid 를 param.
    	         let member_id =  $("#member_id").val(); 
    	         
    	         $.ajax({
    	             async: true,
    	             type : 'POST',
    	             data : member_id,
    	             url : "/member/idCheck",
    	             dataType : "json",
    	             contentType: "application/json; charset=UTF-8",
    	             success : function(data) {
    	                 if (data.cnt > 0) {
    	                     alert("아이디가 존재합니다. 다른 아이디를 입력해주세요.");
    	                     $("#member_id").focus();
    	                 } else {
    	                     alert("사용가능한 아이디입니다.");
    	                     $("#password").focus();
    	                     //아이디가 중복하지 않으면  idck = 1 
    	                     idck = 1;
    	                 }
    	             },
    	             error : function(error) {
    	                 alert("다시입력해주세요");
    	             }
    	         });
    	     });
    	 });
    	  
    	
    </script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="join-container">
		<form id="idForm" action="/member/join" method="post"
			th:object="${joinForm}" onsubmit="return formCheck()">
			<div th:if="${#fields.hasGlobalErrors()}">
      <p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    	</div>
			<div class="logo-container">
				<h2>[[#{alert.welcome}]]</h2>
				<img class="img" src="/image/bugi.png" alt="부기">
			</div>
			<table>
				<tr>
					<td class="leftTd">[[#{alert.ID}]]</td>
					<td class="rightTd"><input type="text" th:field="*{member_id}">
						<input class="butID" id="idck" type="button"
						data-value="#{alert.Duplicate}" th:value="#{alert.Duplicate}">
						<span class="error" th:errors="*{member_id}"></span>
					</td>
				</tr>
				<tr>
					<td class="leftTd">[[#{alert.Password}]]</td>
					<td class="rightTd"><input type="password"
						th:field="*{password}">
						<p>
							[[#{alert.password1}]] <span class="red">[[#{alert.password2}]]</span>[[#{alert.password3}]]
						</p></td>
				</tr>
				<tr>
					<td class="leftTd">[[#{alert.Check}]]</td>
					<td class="rightTd"><input type="password" id="passwordCheck"></td>
				</tr>
				<tr>
					<td class="leftTd">[[#{alert.name}]]</td>
					<td class="rightTd"><input type="text" th:field="*{name}">
					<span class="error" th:errors="*{name}"></span></td>
				</tr>
				<tr>
					<td class="leftTd">[[#{alert.birth}]]</td>
					<td class="rightTd"><input type="date" th:field="*{birth}">
					<span class="error" th:errors="*{birth}"></span>
					</td>
				</tr>
				<tr>
					<td class="leftTd">[[#{alert.Phone}]]</td>
					<td class="rightTd"><input type="tel"
						th:field="*{phone_number}">
						</td>
				</tr>
			</table>

			<div class="join-button">
				<input class="btn-join" type="submit" data-value="#{alert.join}"
					th:value="#{alert.join}"> <input class="btn-cancel"
					type="reset" data-value="#{alert.cancel}"
					th:value="#{alert.cancel}">
			</div>

		</form>
	</div>
	<script th:inline="javascript">
				$(document).ready(function() {
					  $('input[type="submit"], input[type="reset"]').each(function() {
					    $(this).val($(this).attr('value'));
					  });
					});
			</script>
	<script th:inline="javascript">
					$(document).ready(function() {
					  $('input[type="button"]').each(function() {
					    $(this).val($(this).attr('value'));
					  });
					});
					</script>
</body>
</html>