<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>[[#{alert.Login}]]</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/loginForm.css" />

<script th:if="${not #strings.isEmpty(alertMessage)}"
	th:inline="javascript">
        		alert([[${alertMessage}]]);
    			</script>
<script th:inline="javascript">
    
	function findId() {
	  
		//var mainTitle = encodeURIComponent('${festival.main_title}');
	    var url = '/member/findId' //reviewList?main_title='' + mainTitle;
   	 	 var options = 'width=700,height=500,left=' + (screen.width / 2 - 350) + ',top=' + (screen.height / 2 - 350);
		    window.open(url, 'Popup', options);
	
	}
	function findPassword() {
		  
		//var mainTitle = encodeURIComponent('${festival.main_title}');
	    var url = '/member/findPassword' //reviewList?main_title='' + mainTitle;
   	  	var options = 'width=700,height=500,left=' + (screen.width / 2 - 350) + ',top=' + (screen.height / 2 - 350);
		    window.open(url, 'Popup', options);
	
	}
	
	
	
    </script>


</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div id="login-container">
		<img class="img" src="/image/bugi.png" alt="bugi">




		<form action="/member/login" method="post" th:object="${loginForm}">
			<h1>[[#{alert.Login}]]</h1>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p class="error" th:each="err : ${#fields.globalErrors()}"
					th:text="${err}"></p>
			</div>

			<div class="login-input">
				<input type="text" th:field="*{member_id}"
					th:attr="placeholder=#{${'alert.plsID'}}"> <input
					type="password" th:field="*{password}"
					th:attr="placeholder=#{${'alert.plsPas'}}">
			</div>

			<div class="login-submit">
				<input class="btn-login" type="submit" data-value="#{alert.Login}"
					th:value="#{alert.Login}"> <input class="btn-login"
					type="button" data-value="#{alert.Findid}"
					th:value="#{alert.Findid}" onclick="findId()"> <input
					class="btn-login" type="button" data-value="#{alert.FindPas}"
					th:value="#{alert.FindPas}" onclick="findPassword()">

			</div>

			<script th:inline="javascript">
				$(document).ready(function() {
					  $('input[type="submit"], input[type="text"]').each(function() {
					    $(this).val($(this).attr('value'));
					  });
					});
			</script>
		</form>
	</div>
</body>
</html>