<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<link rel="stylesheet" href="/css/LeeTest.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/myPage.css">


<script th:inline="javascript">

	
</script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

	<div id="container" class="center">
		<h1>[ 내 찜 리스트 ]</h1>
		<br>
		<h1>[ 명소 찜 리스트 ]</h1>
		<div class="row">
			<div class="col-md-4 mb-4" th:if="${findMyListSpots}"
				th:each="tourist, touristStat: ${findMyListSpots}">
				<a href="#" class="tourlist-spot-images-container"
					th:data-tourist="${tourist}"> <img
					th:src="@{${tourist.main_img_normal}}" alt="임시이미지4"
					class="tourlist-spot-images"
					th:onclick="|location.href='/tourist_Spot/TouristInfo?tourist_Spot_id=${tourist.tourist_Spot_id}'|">
					<div class="tourlist-spot-images-place">
						<h3 class="tourlist-spot-images-place"
							th:text="${tourist.main_title}"></h3>
					</div>
				</a>
			</div>
			<div th:if="${#lists.isEmpty(findMyListSpots)}" >
				<h3>찜한 명소가 없습니다.</h3>
			</div>
			
			
		</div>
		
		<h1>[ 축제 찜 리스트 ]</h1>
		<div class="row">
			<div class="col-md-4 mb-4" th:if="${findMyListFes}"
				th:each="festival, festivalStat: ${findMyListFes}">
				<a href="#" class="tourlist-spot-images-container"
					th:data-festival="${festival}"> <img
					th:src="@{${festival.main_img_normal}}" alt="임시이미지4"
					class="tourlist-spot-images"
					th:onclick="|location.href='/festival/FestivalInfo?festival_id=${festival.festival_id}'|">
					<div class="tourlist-spot-images-place">
						<h3 class="tourlist-spot-images-place"
							th:text="${festival.main_title}"></h3>
					</div>
				</a>
			</div>
			<div th:if="${#lists.isEmpty(findMyListFes)}" >
				<h3>찜한 축제가 없습니다.</h3>
			</div>
			
			
		</div>
		<h1>[ 코스 찜 리스트 ]</h1>
		<div class="row">
			<div class="col-md-4 mb-4" th:if="${findMyListCos}"
				th:each="course, courseStat: ${findMyListCos}">
				<a href="#" class="tourlist-spot-images-container"
					th:data-course="${course}"> <img
					th:src="@{${course.main_img}}" alt="임시이미지4"
					class="tourlist-spot-images"
					th:onclick="|location.href='/course/CourseInfo?course_id=${course.course_id}'|">
					<div class="tourlist-spot-images-place">
						<h3 class="tourlist-spot-images-place"
							th:text="${course.course_title}"></h3>
					</div>
				</a>
			</div>
			<div th:if="${#lists.isEmpty(findMyListCos)}" >
				<h3>찜한 코스가 없습니다.</h3>
			</div>
		</div>
	</div>

</body>
</html>