<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<link rel="stylesheet" href=/css/default.css>
<link rel="stylesheet" href=/css/courseInfo.css>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/Info.css" />
<script src="/js/index.js"></script>
<style type="text/css">

.asd {
	width: 400px;
	height: 300px;
}
</style>

<script th:inline="javascript">
let  data = [[${course}]];
console.log(data.course_id);
$(function(){
	
	if(data.course_id==1){
		$("table").css("border-top", "2px solid rgb(227, 255, 226)")
		.css("border-bottom", "2px solid rgb(227, 255, 226)")
		$("table th").css("background-color", "rgb(227, 255, 226)")
		$(".img1").css("border", "3px solid rgb(227, 255, 226)")
		$(".course-text1").css("border", "3px solid rgb(227, 255, 226)")
	}
	
	if(data.course_id==2){
		$("table").css("border-top", "2px solid rgb(230, 225, 255)")
		.css("border-bottom", "2px solid rgb(230, 225, 255)")
		$("table th").css("background-color", "rgb(230, 225, 255)")
		$(".img1").css("border", "3px solid rgb(230, 225, 255)")
		$(".course-text1").css("border", "3px solid rgb(230, 225, 255)")
	}
	
	if(data.course_id==3){
		$("table").css("border-top", "2px solid rgb(208, 234, 253)")
		.css("border-bottom", "2px solid rgb(208, 234, 253)")
		$("table th").css("background-color", "rgb(208, 234, 253)")
		$(".img1").css("border", "3px solid rgb(208, 234, 253)")
		$(".course-text1").css("border", "3px solid rgb(208, 234, 253)")
		
	} 
	
	if(data.course_id==4){
		$("table").css("border-top", "2px solid rgb(203, 195, 255)")
		.css("border-bottom", "2px solid rgb(203, 195, 255)")
		$("table th").css("background-color", "rgb(203, 195, 255)")
		$(".img1").css("border", "3px solid rgb(203, 195, 255)")
		$(".course-text1").css("border", "3px solid rgb(203, 195, 255)")
	}
	
	if(data.course_id==5){
		$("table").css("border-top", "2px solid rgb(255, 249, 218)")
		.css("border-bottom", "2px solid rgb(255, 249, 218)")
		$("table th").css("background-color", "rgb(255, 249, 218)")
		$(".img1").css("border", "3px solid rgb(255, 249, 218)")
		$(".course-text1").css("border", "3px solid rgb(255, 249, 218)")
	}
	
	
});



/////////////// 좋아요/////////////////////////////////////////////////////////////////////////
function like(courseId) {
	console.log(courseId);
	
 	$.ajax({
 	url: "like",
 	type: "POST",
	data: { courseId: courseId },
 	success: function (result) {
 		        if (result.liked===true) {
 		          alert("좋아요가 추가되었습니다.");
	 		         $(".like_img").attr({
	 		            'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
	 		            alt: '좋아요삭제'
	 		          });	
 		        } else {
 		          alert("좋아요가 삭제되었습니다.");
 		         		$(".like_img").a2ttr({
	 		            'src': '/image/heart-regular.svg',
	 		            alt: '좋아요삭제'
	 		          });	
 		        }
 		    },
 		error: function (xhr, status, error) {
 		console.error(error);
 	}		
 });
}  


/////////////// 찜 기능 /////////////////////////////////////////////////////////////////////////
function myList(course_id) {
	console.log(course_id);
	
	$.ajax({
	url: "myList",
	type: "POST",
	data: { course_id: course_id },
	success: function (result) {
		        if (result.jjim===true) {
		          alert("찜 목록에 추가되었습니다.");
		          $(".wish_img").attr({
	 		            'src': '/image/bookmark-solid%20(2).svg',
	 		            alt: '찜하기'
	 		          });	
		        } else {
		          alert("찜 목록에서 삭제되었습니다.");
		          $(".wish_img").attr({
	 		            'src': '/image/bookmark-regular (1).svg',
	 		            alt: '찜삭제'
	 		          });	
		          }
		    },
	error: function (xhr, status, error) {
	console.error(error);
	}
	});
}


  
  //좋아요 버튼
  $(function like() {
    var $likeBtn = $('.icon.heart');

    $likeBtn.click(function () {
      $likeBtn.toggleClass('active');
				//active가 잇으면
      if ($likeBtn.hasClass('active')) {
       		 $(this).find('img').attr({
          'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
          alt: '좋아요하기 완료'
        });


      } 
      //active가 없는경우
      else {
        $(this).find('i').removeClass('fas').addClass('far')
        $(this).find('img').attr({
          'src': '/image/heart-regular.svg',
          alt: "좋아요하기"
        })
      }
    })
  });


	
</script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="container" th:object="${course}">

		<p>
		<div class="course-container">

			<div class="course-title-container">
				<table>
					<tr>
						<th>코스 제목</th>
						<td th:text="*{course_title}"></td>
					</tr>
					<tr>
						<th>코스 순서</th>
						<td th:text="*{course_sequense}"></td>
					</tr>
				</table>
			</div>

			<div id="spot-header-container">
				<div class="itemcntnts" id="itemcntnts">


					 <div class="heartWish">
						<div class="left_area">
							<a
								th:unless="${#lists.contains(findCourseLikes, member_id)}"
								href="javascript:;" class="icon heart"
								th:onclick="|like(*{course_id})|"> <img
								class="like_img" src="/image/heart-regular.svg" alt="하트">
							</a>
							<a th:if="${#lists.contains(findCourseLikes, member_id)}"
								href="javascript:;" class="icon heart"
								th:onclick="|like(*{course_id})|"> <img
								class="like_img"
								src="https://cdn-icons-png.flaticon.com/512/803/803087.png"
								alt="하트">
							</a>
						</div>

						<div class="right_area">

							<a
								th:unless="${#lists.contains(findCourseMyList, member_id)}"
								href="javascript:;" class="icon wish"
								th:onclick="|myList(*{course_id})|"> <img
								class="wish_img" src="/image/bookmark-regular%20(1).svg"
								alt="찜하기">
							</a>
							<a th:if="${#lists.contains(findCourseMyList, member_id)}"
								href="javascript:;" class="icon wish"
								th:onclick="|myList(*{course_id})|"> <img
								class="wish_img" src="/image/bookmark-solid%20(2).svg" alt="찜하기">
							</a>
						</div>
					</div> 
				</div>
			</div>

			<br>
			<br>
			<br>

			<div class="course-container1" th:each="pic, i : ${coursePics}">

				<div class="course-image1" th:width="400px" th:height="250px">

					<img class="img1" th:src="@{${pic.MAIN_IMG_NORMAL}}">

				</div>

				<div class="course-text1" style="overflow:hidden;">

					<h3 class="h2-1" th:text="*{course_title}"></h3>

					<p class="p-1" th:text="*{course_content__${i.count}__}"></p>

				</div>

			</div>






		</div>
</body>
</html>