@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Malgun Gothic";
}
a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#header-container {
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  background-color: #fff;
}

/* header */
header {
  width: 100%;
  height: 100px;
}
/*로고*/
.logo {
  float: left;
  display: flex; /*로고 이미지를 중앙에 위치 시키기 위해 flex로 지정하여 수평, 수직 정렬이 되도록 하기 위해.*/
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  width: 300px; /*지시사항에 적힌대로 width값 */
  height: 100px; /*지시사항에 적힌대로 height값 */
}
/*로고이미지*/
.logo > img {
  width: 300px;
  height: 100px;
  object-fit: cover;
}
/* nav */
nav {
  width: 900px;
  float: right;
}

.top-nav {
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.top-nav div>a {
	display:block;
  width: 100px;
  height: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* main-nav */
.main-nav {
  height: 70px;
}
.main-nav > ul {
  float: right;
}
.main-nav > ul > li {
  float: left;
  text-align: center;
  line-height: 70px;
}
.main-nav > ul > li > a {
  width: 150px;
  display: block;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}
.fa-solid fa-globe{
	font-size:1px;
}
.subMenu {
  width: 150px; /*메인메뉴 위치랑 동일하게*/
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 252, 252, 0.5);
  position: absolute;
  top: 100px; /*header 높이 만큼 내려옴*/
  z-index: 10;
}
.subMenu > ul{
  height: 300px;
}
.subMenu > ul.dropdown-menu {
  width: 100%;
}
.subMenu > ul.dropdown-menu > li > a {
  text-align: center;
  font-size: 22px;
  color: #333;
}

#container {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  background-color: #fff;
}
video {
  width: 100%;
  height: 800px;
  object-fit: cover;
  /*filter:opacity(60%);*/
}

#maps-container{
  width: 100%;
  height: 400px;
}

#map{
  
  float: left;
  width: 600px;
  height: 400px;
}
#map-contents{
  float: left;
  width: 600px;
  height: 400px;
}
/* tourlist-spot */
#tourlist-spot-container{
  width: 100%;
  height: 600px;
}
#tourlist-spot-title{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
#tourlist-spot-title>span{
  height: 100px;
  font: bold;
  font-size: 40px;
  line-height: 100px;
}

.tourlist-spot-title-right{
  display: flex;
  height: 100px;
  line-height: 50px;
  flex-direction: column;
}
.tourlist-spot-title-right>a{
  font-size: 30px;
  
}
.tourlist-spot-title-right>div{
  font-size: 50px;
  line-height: 50px;
  padding-right: 20px;
}


#tourlist-spot-image-container{
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
.tourlist-spot-images-container{
  width: 389px;
  height: 300px;
  position: relative;  
}
.tourlist-spot-images{
  width: 389px;
  height: 300px;
  object-fit: cover;
}

.tourlist-spot-images-place{
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 0px 25px 40px 40px;
  position: absolute;
  transition: transform .4s cubic-bezier(.42,0,.175,1);
  width: 100%;
  z-index: 10;
}
.tourlist-spot-images-place>h3{
  font: bold;
  font-size: 25px;
}

