<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
	<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	</head>

	<body th:fragment="header">
		<div id="header-fixed">
			<div id="header-container">
				<header>
					<!-- 로고 -->
					<a class="logo" href="/"> <img class="logoImage"
						src="/image/logo.png" alt="logo" />
					</a>
					<nav>
						<div class="top-nav">
							<div th:unless="${session.loginMember}">
								<a href="/member/login">[[#{alert.Login}]]</a> <a
									href="/member/join">[[#{alert.join}]]</a>
							</div>
							<div class="top-nav" th:if="${session.loginMember}">
								<a href="/member/myPage">[[#{alert.myPage}]]</a> <a
									href="/member/logout">[[#{alert.logout}]]</a>
							</div>
							<div class="language-select">
								<div class="dropdown">
									<i class="fa-solid fa-globe">&nbsp;</i><select
										id="languageDropdown">
										<option value="/">-[[#{alert.Language}]]-</option>
										<option value="?lang=ko">한국어</option>
										<option value="?lang=ja">日本語</option>
										<option value="?lang=zh">中文</option>
										<option value="?lang=en">English</option>
									</select>
								</div>
							</div>
						</div>
						<script th:inline="javascript">
 						$(document).ready(function() {
  						$('#languageDropdown').change(function() {
  						    const newLang = $(this).val().substr(6);
  						    window.localStorage.setItem("lang", newLang);
  						    const searchParams = new URLSearchParams(window.location.search);
  						    searchParams.set('lang', newLang);
  						    const newUrl = `${window.location.origin}${window.location.pathname}?${searchParams.toString()}`;
  						    window.location.href = newUrl;
 						 });
 						});
						</script>

						<!-- nav -->
						<nav class="main-nav">
							<ul>
								<li><a href="/tourist/list">[[#{alert.Attraction}]]</a></li>
								<li><a href="/festival/list">[[#{alert.Festival}]]</a></li>
								<li><a href='/course/list'>[[#{alert.Recommendation}]]</a>
								</li>
								<li><a href="/review/list">[[#{alert.review}]]</a></li>
							</ul>
						</nav>
					</nav>
				</header>
			</div>
		</div>
		<hr />
	</body>
</th:block>
</html>