@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto";
}


#container {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  overflow:hidden;
}
video {
  width: 100%;
  height: 700px;
  object-fit: cover;
  /*filter:opacity(60%);*/
}

#popup{
	width:100%;
}
#panel-container{
	width:100%;

	height:300px;
	display:flex;
	justify-content: center;
	align-items: center;
}
#panel{
		width:50%;
		display:flex;
		margin-left : 20px;
		flex-direction: column;
}
#panel>h1{
	margin-bottom:10px;
}

input#start,#end{
  width: 50%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  margin-bottom:10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
input[type=button]{
		background-color: #da202c;
    border: 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 1.73rem;
    line-height: 35px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    text-overflow: ellipsis;
		margin-left:10px;
}



#map{
  float: left;
  width: 50%;
  height: 300px;
  background-color: grey;
  
}

/* tourlist-spot */
#tourist-spot-container{
  width: 100%; /*1200px*/
  height: 100px;
 
}
#tourist-spot-title{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
#tourist-spot-title>span{
  height: 100px;
  font: bold;
  font-size: 40px;
  line-height: 100px;
}

.tourist-spot-title-right{
  display: flex;
  height: 100px;
  line-height: 50px;
  flex-direction: column;
}
.tourist-spot-title-right>a{
  font-size: 30px;
  
}
.tourist-spot-title-right>div{
  font-size: 50px;
  line-height: 50px;
  padding-right: 20px;
}
/*===================================*/
.image-container{
	width: 1700%; /*1200px*17*/
	height: 500px;
	
}
.festival-container{
	width: 1700%; /*1200px*17*/
	height: 500px;
}
.inner{
	width:400px;
	height:400px;
	float:left;
	position:relative;
}
.inner img{
	width: 100%;
	height:400px;
	padding: 20px 20px;
	float:left;
	
}

.inner a{
	display:inline;
	padding-left:20px;
	/* position:absolute;
	top:310px;
	left:40px; */
	font-size:24px;
	color:#222;
}
/*heart*/
.testHeart{
	font-size:24px;
}









