#join-container{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    text-align: center;

    /* display: flex;                  유연하게
    flex-direction: column;         세로 방향 정렬
    justify-content: center;        가로 정렬
    align-items: center;            세로 정렬 */
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 


.logo-container {
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: space-between;
    
}
.logo-container>h2{
    width: 40%;
    height: 30px;
    display: flex;
    margin-top: 65px;
}

.img {
width: 15%;
height: 100px;

object-fit: cover;

}

   
   

    div.join-button {
    width: 700px;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid black;
    }

    table {
        height: 50%;
        width: 700px;
        border-top: 3px solid black;
        /* margin-right: auto;
        margin-left: auto;   */
  
    }

    td {
        border-bottom: 1px dotted black;
    }

    caption {
        text-align: left;
    }

    .leftTd {
        background-color: #e8e8e8;
        padding: 10px;
        text-align: right;
        font-weight: bold;
        font-size: 0.85em;
    }
    .rightTd {
        text-align: left;
        padding: 5px;
    }

    .butID{
        height: 25px;
        width: 80px;
        color: white;
        background-color: black;
        border-color: black;
    }
     
    .butID:hover{
        background-color: #b9b9b9;
        color: black;
        border: 2px solid black;
    }

    .btn-join{
        height: 35px;
        width: 150px;
        background-color: white;
        border: 2px solid black;
    }

    .btn-join:hover {
        background-color: black;
        color: white;
        border: 2px solid black;
    }

    .btn-cancel{
        height: 35px;
        width: 150px;
        background-color: white;
    }

    .btn-cancel:hover{
        background-color: black;
        color: white;
        border: 2px solid black;
    }

    p{
        font-size: 0.7em;
        }
    .red{
        color: red;
        }


