@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.error{
	color:red;
}


.write-container{
	/* margin-left: 20%; */
	width: 1200px;
	height :1200px;
	text-align: center;
	margin : 0 auto;
}

.write-container form{
	width:100%;
	height:100%;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	}

.write-header{
	display:flex;
	justify-content: space-between;
	font-size: 23px;
    width: 100%;
    height: 45px;
    margin-top: 65px;
    color: #6E6E6E;
}


h3{
		font-size: 23px;
    width: 40%;
    height: 30px;
    display: flex;
    margin-top: 65px;
    color: #6E6E6E;
}

.write-table{
		margin-top:2px;
		width:100%;
    height: 10%;
    text-align: left;
    border-top: 1px solid #ccc;
}
.write-table tr {
     width: 50px;
     padding: 10px;
     font-weight: bold;
     border-bottom: 1px solid #ccc;
}
.write-table th {
    padding: 15px 0;
    color: rgb(142, 141, 141);
    background-color: #e6f6ff;
    width: 50px;
    text-align: center;
}
.write-table td {
     width: 300px;
     padding: 10px;
     vertical-align: top;
     border-bottom: 1px solid #ccc;
}


.write-btn{
    height: 35px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    margin-top: 2%;
}
.write-btn:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
#summer-box{
	width:100%;
	height:1000px;
}

 #summernote{
	width:100%;
	height: 300px; 
}
