.contentsContainer {
  margin: 0 auto;
  width: 1200px;
}

.pageTitle {
  margin-top: 8vh;
  font-size: 50px;
  margin-bottom: 10px;
}

.pageTitle h2 {
  font-size: 35px;
  color: #6e6e6e;
  font-weight: 400;
  text-align: center;
}

.searchContainer {
  margin-top: 5vh;
  padding: 15px 0;
  background-color: #e6f6ff;
  text-align: center;
}

.searchBar {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}

.searchBar > input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}

.searchBar > input:focus {
  border-color: #333;
  outline: 0;
  border-width: 2px;
}

.searchBar button {
  font-size: 16px;
  height: 40px;
  width: 150px;
  background-color: white;
  border: 2px solid #545457;
}

.writeBtn {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-item: center;
}
.writeBtn > a > input {
  height: 35px;
  width: 100px;
  background-color: white;
  border: 2px solid black;
  margin-top: 2%;
}

.writeBtn > a > input:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.reviewTable {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-collapse: collapse;
}

/* .reviewTable a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.reviewTable a:hover {
  text-decoration: underline;
} */

.reviewTable th {
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}

.th1 {
  width: 5%;
}

.th2 {
  width: 12.5%;
}

.th3 {
  width: 10%;
}

.th4 {
  width: 50%;
}

.reviewTable th,
td {
  padding: 12px 0;
}

.reviewTable tbody td {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
}

.pageContainer {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 10px;
  margin-top: 2vh;
}

.pageContainer a {
  margin: 0 8px;
}

.active {
  font-size: 15px;
  font-weight: 1000;
}
