<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frombusan.repository.CourseMapper">
    
   
    
     <select id="findCourse" resultType="course">
        select * from course where course_id=#{course_id}
    </select>


		<!-- 죻아요 순으로 재정렬 -->
	 <select id="findAllCourse" resultMap="courseResultMap">
		select * from course order by hit desc
	</select>
	<resultMap type="course" id="courseResultMap">
		<id property="id" column="id" />
		<result property="hit" column="hit" />
	</resultMap>
    
    
    
    <select id="findAllCourseName" resultType="course">
        select MAIN_TITLE from Course 
    </select>
    
     <!-- /////////좋아요 테이블은 내가 아닌 다른 아이디로 봤을때에는 좋아요가 아닌 버튼이 나고에 하기위해서 필요//////////////////////////////////////////////////////////////////////// -->
    
    <update id="updateCourse">
        update Course
        <set>
            <if test="place_like != null">place_like = #{place_like},</if>
            <if test="hit != null">hit = #{hit},</if>
         <!--   <if test="wish_list_fes != null">wish_list_fes = #{wish_list_fes},</if> -->
        </set>
        where course_id = #{course_id}
    </update>
    
    
    <select id="findLikesMemberId" resultType="string">
        select member_id from course_likes where course_id=#{course_id}
    </select>
    
    <select id="findLikesById" resultType="map">
        select member_id,like_id from course_likes where course_id=#{course_id}
    </select>
    
    <insert id="saveLikes">
    <selectKey keyProperty="like_id" resultType="long" order="BEFORE">
            select seq_review.nextval from dual
        </selectKey>
        insert into course_likes (
        	like_id,
            member_id,
            course_id
        ) values (
            #{like_id},
            #{member_id},
            #{course_id}
        )
    </insert>
    
     <delete id="deleteLike">
        delete from course_likes where like_id = #{like_id} 
    </delete>
    
<!-- /////////////////찜 기능//////////////////////////////////////////////////////////////// -->
    
    <insert id="saveMyList">
    <selectKey keyProperty="wishboard_id" resultType="long" order="BEFORE">
            select seq_review.nextval from dual
        </selectKey>
        insert into wish_list_course (
        	wishboard_id,
            member_id,
            course_id
        ) values (
            #{wishboard_id},
            #{member_id},
            #{course_id}
        )
    </insert>
    
    <select id="findMyListById" resultType="map">
        select member_id, wishboard_id from wish_list_course where course_id=#{course_id}
    </select>
    
      <select id="findMyListMemberId" resultType="string">
        select member_id from wish_list_course where course_id=#{course_id}
    </select>
    
    <delete id="deleteMyList">
        delete from wish_list_course where wishboard_id = #{wishboard_id} 
    </delete>
    
    
        
 <!-- /////////////////찜 목록//////////////////////////////////////////////////////////////// -->

	 <select id="findMyListByMemberId" resultType="map">
        select course_id from wish_list_course where member_id=#{member_id}
    </select>
    
  <!-- /////////////////한 코스 사진들 가져오기 //////////////////////////////////////////////////////////////// -->
    
 	<select id="findCoursePic" resultType="map">
        select * from course_pic where course_set=#{course_set}
    </select>
    
    
</mapper>